* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #353b5a;
}

h1 {
  margin: 0 0 20px 0;
  color: #fff;
}

p {
  margin: 0 0 15px 0;
  color: #fff;
}

section {
  width: 220px;
  border-radius: 1em;
  background-color: #44508a;
  padding: 10px;
  border: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.output {
  grid-column: 1 / -1;
  background-color: #343e72;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border: 0;
  margin: 5px;
  text-align: right;
  font-size: 22px;
  padding: 0 8px 0 0;
  color: #fff;
}

.boton {
  height: 40px;
  width: 40px;
  margin: 5px;
}

.cero {
  grid-column: span 2;
  margin: 5px;
  height: 40px;
}

.igual {
  grid-row: span 2;
  height: 90px;
  width: 40px;
  margin: 5px;
}

.btn {
  background-color: #6271b8;
  color: #ffffff;
  font-size: medium;
  border-radius: 15px;
  font-weight: bold;
  border: 1px solid #212844;
}

.btn:hover {
  background-color: #343c67;
}